<div id="countdown" data-date="August 20, 2021 08:00:00">
    <h2>Event Countdown</h2>
    <div class="countdown-inner">
        <ul>
            <li><span id="days"></span>days</li>
            <li><span id="hours"></span>hours</li>
            <li><span id="minutes"></span>minutes</li>
            <li><span id="seconds"></span>seconds</li>
            </li>
        </ul>
    </div>
    <div class="countdown-result">
        <span>🏌️</span>
        <span>⛱️</span>
        <span>🍻</span>
    </div>
</div>